html, body {
    height: 100%;
}

body {
    display: flex;
    overflow: hidden;
    margin: 0;
    background: linear-gradient(#454240, #6D5641);
    color: #FFF;
}

#root {
    width: 100%;
    overflow: auto;
}